<div class="from-group">
  <%= form.label :email %>
  <%= form.text_field :email, type: "email", class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :password %>
  <%= form.password_field :password, class: "form-control" %>
</div>
